<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head> 
	    <title>Регистрация нового пользователя</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="/careerblog/static/style.css">
	    
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	    
	</head>
    <body>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
		
		<header th:insert="blocks/header :: header"></header>
        
    	<div class="container mt-5">
    	
    	 	<h3>Мы рады, что Вы хотите узнать больше.</h3>
    	 	<h6>Чтобы получить доступ к расширенному контенту, зарегистрируйтесь, пожалуйста.</h6>
	        <h6>Для успешной регистрации заполните форму ниже.</h6>
            <div th:if="${message}" class="mt-2" th:classappend="${(message != null) ? 'text-danger' : ''}">
    	        <p th:text="${message}"/>
	        </div>
       		<form th:action="@{/signup}" th:object="${user}" method="post">
	            <div class="form-group-row mt-2">
		            <label class="col-sm-2 col-form-label">Логин: </label>
		            <div class="col-sm-6">
		            	<input type="text" name="username" class="form-control" placeholder="Login"
		            		th:field="*{username}" th:errorclass="is-invalid"
		            		th:value="*{username != null} ? *{username} : ''"/> 
						<div th:if="${errors}" th:classappend="${(errors != null) ? 'invalid-feedback' : ''}">
							<p th:text="${errors.get('usernameError')}"></p>
						</div>
		            </div>
	            </div>
	            <div class="form-group-row mt-2">
		            <label class="col-sm-2 col-form-label">Пароль: </label>
		            <div class="col-sm-6">
		            	<input type="password" name="password" class="form-control" placeholder="Password"
		            		th:field="*{password}" th:errorclass="is-invalid"
		            		th:value="*{password != null} ? *{password} : ''"/>
		            	<div th:if="${errors}" th:classappend="${(errors != null) ? 'invalid-feedback' : ''}">
							<p th:text="${errors.get('passwordError')}"></p>
						</div>
		            </div>
	            </div>
	           	<div class="form-group-row mt-2">
		            <label class="col-sm-2 col-form-label">Подтверждение пароля: </label>
		            <div class="col-sm-6">
		            	<input type="password" name="password2" class="form-control" placeholder="Password"
		            		th:field="*{password2}" th:classappend="${(passEqualError != null) ? 'is-invalid' : ''}"
		            		th:value="*{password2 !=null} ? *{password2} : ''"/>
						<div th:if="${passEqualError}" th:classappend="${(passEqualError != null) ? 'invalid-feedback' : ''}">
							<p th:text="${passEqualError}"></p>
						</div>
		            </div>
	            </div>
	            <div class="form-group-row mt-2">
		            <label class="col-sm-2 col-form-label">Эл.почта: </label>
		            <div class="col-sm-6">
		            	<input type="email" name="email" class="form-control" placeholder="Email"
		            		th:field="*{email}" th:errorclass="is-invalid"
		            		th:value="*{email != null} ? *{email} : ''"/>
		            	<div th:if="${errors}" th:classappend="${(errors != null) ? 'invalid-feedback' : ''}">
							<p th:text="${errors.get('emailError')}"></p>
						</div>
		            </div>
	            </div>
	            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	            <button type="submit" class="btn btn-primary mt-4">Зарегистрироваться</button>
	        </form>
	      
	        <form th:action="@{/login}" name="registration" method="get">
				<button type="submit" class="btn btn-secondary mt-4">Не регистрироваться</button>
			</form>
        </div>

    </body>
</html>